@font-face {
    font-family: 'PlayFair';
    src: url('./src/assets/PlayFair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height: 100vh;
    background-color: #282828;
    margin: 0;
}

h1 { 
    color: #FFF0E3;
    font-size: 48px;
    font-weight: 700;
    margin-top: 6px;
}

h3 {
    color: #FFF0E3;
    font-size: 26px;
    font-weight: 700;
}

p {
    color: #FFF0E3;
}

hr {
    color: #FFF0E3;
}

button {
    background-color: rgba(0,0,0,0);
    width: 30px;
    height: 30px;
}

#img {
    border: 2px solid;
    border-color: #091d56;
    width: 200px;
}

#mainView {
    padding: 2%;
}

#contacts {
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#list {
    display: grid;
    margin-top: 20px;

    gap: 30px;
}

#tabbar {
    display: grid;
    gap: 20px;
}

#view {
    padding: 10px;
}

#name {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.multiline {
    margin: 0;
    padding: 0;
}

.hgrid {
    display: grid;
    grid-template-columns: auto;
    align-content: left;
}

