* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: #FFF0E3;
    margin: 40px;
    position:relative;
}

h1 { 
    color: #FFF0E3;
    font-size: 48px;
    font-weight: 700;
    margin-top: 6px;
}

h3 {
    color: #FFF0E3;
    font-size: 26px;
    font-weight: 700;
}

p {
    color: #FFF0E3;
}

hr {
    color: #FFF0E3;
}

button {
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    margin: 0;
}

#foot {
    position:absolute;
    bottom: 40px;
    right: 40px;
    left: 40px;
    align-self: stretch;
    width: auto;

    display: grid;
    gap: 10px;
}

#img {
    border: 2px solid;
    border-color: #091d56;
    width: 200px;
}

#mainView {
    padding: 2%;
}

#contacts {
    margin-bottom: 5px;
}

#list {
    display: grid;
    margin-top: 20px;

    gap: 30px;
}

#tabbar {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

#name {
    gap: 20px;
    margin-right: auto;
}

#logo {
    width: 30px;
}

#menu {
    width: 40px;
    margin-left: auto;
}

#view {
    padding: 30px;
    background-color: #282828;
    min-height: 1500px;
    position: relative;
}

#line {
    height: 3px;
    background-size: auto 100%;
    background-image: url("/line.png");
    background-repeat: repeat-x;
}

.multiline {
    margin: 0;
    padding: 0;
}

.hgrid {
    display: grid;
    grid-template-columns: auto;
    align-content: left;
}

